---
layout: default
title: Homepage
---

<body>

  <div class="ui page grid">
    
    <!-- Header & Nav -->
    <header class="sixteen wide column">
      
      <h1>
        <a href="index.html">Web Design 1</a>
      </h1>
      
      {% include nav.html %}

    </header>

    <!-- Daily & Notices -->
    <article class="row">
      
      <section class="today nine wide column">
        <h2><i class="icon coffee"></i> Today</h2>

          {% include sessions.html %}

      </section>
      
      <section class="notices six wide column">
        <h3><i class="icon star"></i> Notices</h3>
        
        <ul class="ui list">
          <li>
              Assignment 7 due Friday, Feb. 20 at 5pm
          </li>

          <li><a href="https://db.tt/vHigul2P">Download Course Outline</a></li>
        </ul>

        

      </section>

    </article>
    
    
    <aside class="sixteen wide column">
      <blockquote>
        HTML, CSS, and JavaScript aren’t the tools of web design, they are the medium of web design.
      </blockquote>
      <!-- <blockquote>Level up your design <br>with HTML and CSS.</blockquote> -->
    </aside>

    
    <!-- Sessions 
    <article class="sessions row">

      <section class="four wide column">
        <h4>Session 8</h4>
        <small>Tue, Oct. XX</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </section>
      <section class="four wide column">
        <h4>Session 7</h4>
        <small>Tue, Oct. XX</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </section>
      <section class="four wide column">
        <h4>Session 6</h4>
        <small>Tue, Oct. XX</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </section>
      <section class="four wide column">
        <h4>Session 5</h4>
        <small>Tue, Oct. XX</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </section>

      <section class="four wide column">
        <h4>Session 4</h4>
        <small>Tue, Oct. XX</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </section>
      <section class="four wide column">
        <h4>Session 3</h4>
        <small>Tue, Oct. XX</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </section>
      <section class="four wide column">
        <h4>Session 2</h4>
        <small>Tue, Oct. XX</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </section>
      <section class="four wide column">
        <h4>Session 1</h4>
        <small>Tue, Oct. XX</small>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </section>

    </article>

    <footer class="sixteen wide column">
      <nav>
        <ul>
          <li><a href="sessions.html">Sessions</a></li>
          <li><a href="references.html">References</a></li>
          <li><a href="students.html">Students</a></li>
          <li><a href="#">Colophon</a></li>
          <li>DESN 368 Fall Quarter 2014.</li>
        </ul>
      </nav>
      
    </footer>

  </div>
  -->

