        <ul>
          <li>
            <a href="{% post_url 2015-01-01-session-15 %}">Session 15</a>
          </li>
          <li>
            <a href="{% post_url 2015-01-01-session-14 %}">Session 14</a>
          </li>
          <li>
            <a href="{% post_url 2015-01-01-session-13 %}">Session 13</a>
          </li>
         <li>
          <a href="{% post_url 2015-01-01-session-12 %}">Session 12</a>
        </li>
          <li>
            <a href="post/session-11.html">Session 11</a>
          </li>
          <li>
            <a href="post/session-10.html">Session 10</a>
          </li>
          <li>
            <a href="post/session-9.html">Session 9</a>
          </li>
          <li>
            <a href="post/session-8.html">Session 8</a>
          </li>
          <li>
            <a href="post/session-7.html">Session 7</a>
          </li>
          <li>
            <a href="post/session-6.html">Session 6</a>
          </li>
          <li>
            <a href="post/session-5.html">Session 5</a>
          </li>
          <li>
            <a href="post/session-4.html">Session 4</a>
          </li>
          <li>
            <a href="post/session-3.html">Session 3</a>
          </li>
          <li>
            <a href="post/session-2.html">Session 2</a>
          </li>
          <li>
            <a href="post/session-1.html">Session 1</a>
          </li>  
        </ul> 